services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: learn-docker
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  pg-data: